body {
	background: #c1bdba;
	margin: 45px 10px;
	height: 500px;
}
img {
	display: block;
	margin: 15px 10px 10px 10px;
}
#main{
	text-align:center;
}
.block{
	display:inline-block;
	border:2px solid #F0A202;
	margin:10px 10px;
	width: 120px;
	height: 170px;
	overflow:hidden;
	color: #F0A202;
	font-family: futura;
	font-weight: bold;
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	line-height: 170px;
	}
	/*
	#FFC15E
	#E56B70
	*/
.block:hover {
	transform: translateY(-6px);
	animation-name: hover;
	animation-duration: 1.5s;
	animation-delay: .3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.outer {
	background-color: rgba(19, 35, 47, 0.9);
	display: table;
	height: 100%;
	width: 100%;
	padding: 25px 0px;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
}