.forgot {
	margin-top: -20px;
	text-align: right;
}
.tab-group {
		list-style: none;
		padding: 0;
		margin: 0 0 40px 0;
}
.tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: rgba(237, 187, 85, 0.25);
	color: #adad8d;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
.tab-group li a:hover {
	background: #F0A202;
	color: #ffffff;
}
.tab-group .active a {
	background: #edbb55;
	color: #ffffff;
}