@font-face {
	font-family: 'futura';
	src: url('../fonts/Futura.ttf');
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body {
  background:#c1bdba;
  font-family: futura;
}

#main{
	text-align:center;
}

.block{
	display:inline-block;
	border:2px solid #F0A202;
	border-radius: 25px;
	margin:10px 10px;
	width: 10px;
	height: 10px;
	overflow:hidden;
	background-color: #2F004F;
	color: #F75C03;
	font-family: futura;
	font-weight: bold;
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	height: 70px;
	width: 70px;
	line-height: 70px;
	}
	/*
	#FFC15E
	#E56B70
	*/


.block:hover {
	transform: translateY(-6px);
	animation-name: hover;
	animation-duration: 1.5s;
	animation-delay: .3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.outer {
	background-color: #22046d;
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	background-color: #061A40;
	margin-left: auto;
	margin-right: auto; 
	width: 75%;
}
.vertical_halfopacity_inner {
	border-radius: 25px;
	color: #F75C03;
	font-family: futura;
	background-color: #000000;
	opacity: 0.3;
	margin-left: auto;
	margin-right: auto; 
	width: 45%;	
}
.field-wrap {
  position:relative;
  margin-bottom:40px;
}
.form {
  background:#13232f;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px;
}
label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:#ffffff;
  opacity: .5;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:#1ab188;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:#ffffff;
}
input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color:#ffffff;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:#1ab188;
  }
}

textarea {
  border:2px solid #a0b3b0;
  resize: vertical;
}