@font-face {
	font-family: 'futura';
	src: url('../fonts/Futura.ttf');
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
	overflow-y: scroll; 
}
body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}
h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}
.button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 0;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background:  #edbb55;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}
.button:hover, .button:focus {
  background:#F0A202;
}
.button-block {
	display: block;
	width: 100%;
}
.field-wrap {
	position:relative;
	margin-bottom:40px;
}
.form {
	background: rgba(19, 35, 47, 0.9);
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
a {
	text-decoration: none;
	color: #edbb55;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
a:hover {
	color: #F0A202;
}
label {
	position: absolute;
	-webkit-transform: translateY(6px);
			transform: translateY(6px);
	left: 13px;
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 22px;
}
label.active {
	-webkit-transform: translateY(-20px);
			transform: translateY(-20px);
	left: 2px;
	font-size: 14px;
}

label.highlight {
	color: #adad8d;
}
button[type=button]{
	position: absolute;
    left: 90%;
    top: 15%;
    height: 20px;
    width: 5%;
}
input, textarea {
	font-size:22px;
	display:block;
	width:100%;
	height:100%;
	padding:5px 10px;
	background:none;
	background-image:none;
	border:1px solid #a0b3b0;
	color:#ffffff;
	border-radius:0;
	transition:border-color .25s ease, box-shadow .25s ease;
}
input:focus,
textarea:focus {
	outline: 0;
	border-color: #edbb55;
}
textarea {
	border:2px solid #a0b3b0;
	resize: vertical;
}