p {
	text-align: justify;
	color: #edbb55;
	font-weight: 150;
}
@media all and (max-width: 881px) {
	.inside-wrapper-left, .inside-wrapper-right {
		width: 100%;
	}
	.inside-wrapper-left{
		float: left;
	}
	.inside-wrapper-right{
		float: right;
		margin-top: 10px;
	}
	p.time-left {
		width: 100%;
	}
}
@media all and (min-width: 882px) {
	.inside-wrapper-right {
		width: 68%;
		float: right;
	}
	.inside-wrapper-left {
		width: 30%;
		min-width: 238px;
		float: left;
	}
	p.time-left {
		width: 30%;
	}
}
embed {
	height: 35px;
	margin: 0 30px 10px 0;
	float:left;
}
span.time-left {
}
p.time-left {
	width: 110%;
	padding: 0 0 0 40px;
	line-height: 34px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
	font-size: 18pt;
    position: absolute;
}
.inside-wrapper-left, .inside-wrapper-right{
	
}
.button {
	font-family: futura;
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 0;
	font-size: 1.65rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background:  #edbb55;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}
.button-block {
	display: block;
	max-width: 49px;
	float: right;
}
.task-content {

}
.form {
	max-width: 900px;
	min-width: 100px;
	min-height: 90%;
}

.field-wrap {
	vertical-align: baseline;
	width: 75%;
	position:relative;
	float:left;
	margin-bottom: 0;
}
.wrapper, .inside-wrapper {
	position: relative;
	overflow: hidden;
}
.wrapper {
	padding-top: 20px;
}
 .inside-wrapper .field-wrap, .inside-wrapper .button {
 	margin-top: 20px;
 }
.task-deadline {
	float: left;
	width: 32%;
	height: 50px;
}
@media all and (min-width: 600px) {
	.task-notes {
		width: 30%;
		min-width: 150px;
		float:left;
	}
	.task-map {
		width: 68%;
		float: right;
	}
}
@media all and (max-width: 400px) {
	.task-notes {
		width: 100%;
	}
	.task-map {
		width: 100%;
	}
}